<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Dashboard - Reportes')"></head>
<body>

<div class="container py-5">
    <h2 class="mb-5 text-center">Panel de Reportes</h2>

    <!-- Tarjetas resumen -->
    <div th:replace="fragments/resumen :: resumen(${totalProductos}, ${activos}, ${inactivos})"></div>

    <!-- Gráficos -->
    <div th:replace="fragments/graficos :: graficos(${labels}, ${values}, ${topIngresosNombres}, ${topIngresosValores}, ${topSalidasNombres}, ${topSalidasValores})"></div>
</div>

</body>
</html>
